body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    text-align: center;
}

h1 {
    background: #0059b3;
    color: white;
    padding: 20px;
}

.menu {
    margin-top: 30px;
}

.menu a {
    display: block;
    background: white;
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu a:hover {
    background: #0059b3;
    color: white;
}
