USE [master]
GO
/****** Object:  Database [HeThongDatVeTau]    Script Date: 11/18/2025 8:17:15 PM ******/
CREATE DATABASE [HeThongDatVeTau]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeThongDatVeTau', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LINH\MSSQL\DATA\HeThongDatVeTau.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeThongDatVeTau_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LINH\MSSQL\DATA\HeThongDatVeTau_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeThongDatVeTau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeThongDatVeTau]
GO
/****** Object:  Table [dbo].[DatVe]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVe](
	[MaDatVe] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaLichTrinh] [int] NOT NULL,
	[TongTien] [decimal](14, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrinh]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrinh](
	[MaLichTrinh] [int] IDENTITY(1,1) NOT NULL,
	[MaTau] [int] NOT NULL,
	[MaTuyen] [int] NOT NULL,
	[NgayDi] [date] NOT NULL,
	[GioDi] [time](7) NOT NULL,
	[GioDen] [time](7) NOT NULL,
	[GiaCoBan] [decimal](12, 2) NOT NULL,
	[SoGheConLai] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](30) NULL,
	[ChucVu] [nvarchar](100) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHeThong]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHeThong](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](20) NOT NULL,
	[MaTaiKhoan] [int] NOT NULL,
	[BangTacDong] [nvarchar](50) NOT NULL,
	[MaDoiTuong] [int] NOT NULL,
	[HanhDong] [nvarchar](255) NOT NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyNhanVien]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyNhanVien](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[MaVe] [int] NULL,
	[MaDatVe] [int] NULL,
	[MaLichTrinh] [int] NULL,
	[ThaoTac] [nvarchar](255) NOT NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyQuanTri]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyQuanTri](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[MaQuanTri] [int] NOT NULL,
	[MaNhanVien] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaLichTrinh] [int] NULL,
	[MaTau] [int] NULL,
	[ThaoTac] [nvarchar](255) NOT NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTri](
	[MaQuanTri] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](30) NULL,
	[Quyen] [nvarchar](100) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuanTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[MaTau] [int] IDENTITY(1,1) NOT NULL,
	[TenTau] [nvarchar](100) NOT NULL,
	[TongSoGhe] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuyenDuong]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenDuong](
	[MaTuyen] [int] IDENTITY(1,1) NOT NULL,
	[DiemDi] [nvarchar](100) NOT NULL,
	[DiemDen] [nvarchar](100) NOT NULL,
	[KhoangCachKm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 11/18/2025 8:17:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[MaDatVe] [int] NOT NULL,
	[SoGhe] [nvarchar](20) NULL,
	[GiaVe] [decimal](12, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatVe] ON 

INSERT [dbo].[DatVe] ([MaDatVe], [MaKhachHang], [MaLichTrinh], [TongTien], [TrangThai], [NgayTao]) VALUES (1, 1, 1, CAST(1000000.00 AS Decimal(14, 2)), N'Đã thanh toán', CAST(N'2025-11-17T20:41:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[DatVe] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [Email], [MatKhau], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (1, N'Nguyễn Văn A', N'kh1@example.com', N'hash_demo_1', N'0900000001', N'Hà Nội', CAST(N'2025-11-17T20:41:22.157' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [Email], [MatKhau], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (2, N'Phạm Thị C', N'kh2@example.com', N'hash_demo_2', N'0900000004', N'Đà Nẵng', CAST(N'2025-11-17T20:41:22.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichTrinh] ON 

INSERT [dbo].[LichTrinh] ([MaLichTrinh], [MaTau], [MaTuyen], [NgayDi], [GioDi], [GioDen], [GiaCoBan], [SoGheConLai], [NgayTao]) VALUES (1, 1, 1, CAST(N'2025-12-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(500000.00 AS Decimal(12, 2)), 100, CAST(N'2025-11-17T20:41:22.160' AS DateTime))
INSERT [dbo].[LichTrinh] ([MaLichTrinh], [MaTau], [MaTuyen], [NgayDi], [GioDi], [GioDen], [GiaCoBan], [SoGheConLai], [NgayTao]) VALUES (2, 2, 2, CAST(N'2025-12-02' AS Date), CAST(N'09:00:00' AS Time), CAST(N'21:00:00' AS Time), CAST(700000.00 AS Decimal(12, 2)), 150, CAST(N'2025-11-17T20:41:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichTrinh] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [Email], [MatKhau], [SoDienThoai], [ChucVu], [NgayTao]) VALUES (1, N'Lê Thị B', N'nv1@example.com', N'hash_demo_nv1', N'0900000002', N'Nhân viên bán vé', CAST(N'2025-11-17T20:41:22.160' AS DateTime))
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [Email], [MatKhau], [SoDienThoai], [ChucVu], [NgayTao]) VALUES (2, N'Hoàng Văn D', N'nv2@example.com', N'hash_demo_nv2', N'0900000005', N'Verification', CAST(N'2025-11-17T20:41:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] ON 

INSERT [dbo].[NhatKyHeThong] ([MaNhatKy], [LoaiTaiKhoan], [MaTaiKhoan], [BangTacDong], [MaDoiTuong], [HanhDong], [ThoiGian]) VALUES (1, N'QuanTri', 1, N'KhachHang', 2, N'Khóa tài khoản', CAST(N'2025-11-17T20:41:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyNhanVien] ON 

INSERT [dbo].[NhatKyNhanVien] ([MaNhatKy], [MaNhanVien], [MaVe], [MaDatVe], [MaLichTrinh], [ThaoTac], [ThoiGian]) VALUES (1, 1, 1, 1, NULL, N'Xác nhận vé A01', CAST(N'2025-11-17T20:41:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhatKyNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyQuanTri] ON 

INSERT [dbo].[NhatKyQuanTri] ([MaNhatKy], [MaQuanTri], [MaNhanVien], [MaKhachHang], [MaLichTrinh], [MaTau], [ThaoTac], [ThoiGian]) VALUES (1, 1, NULL, 2, NULL, NULL, N'Khóa tài khoản khách hàng', CAST(N'2025-11-17T20:41:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhatKyQuanTri] OFF
GO
SET IDENTITY_INSERT [dbo].[QuanTri] ON 

INSERT [dbo].[QuanTri] ([MaQuanTri], [HoTen], [Email], [MatKhau], [SoDienThoai], [Quyen], [NgayTao]) VALUES (1, N'Quản trị hệ thống', N'admin@example.com', N'hash_demo_admin', N'0900000003', N'Toàn quyền', CAST(N'2025-11-17T20:41:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuanTri] OFF
GO
SET IDENTITY_INSERT [dbo].[Tau] ON 

INSERT [dbo].[Tau] ([MaTau], [TenTau], [TongSoGhe], [MoTa]) VALUES (1, N'Tàu SE1', 100, N'Tàu nhanh')
INSERT [dbo].[Tau] ([MaTau], [TenTau], [TongSoGhe], [MoTa]) VALUES (2, N'Tàu SE3', 150, N'Tàu khoang nằm')
SET IDENTITY_INSERT [dbo].[Tau] OFF
GO
SET IDENTITY_INSERT [dbo].[TuyenDuong] ON 

INSERT [dbo].[TuyenDuong] ([MaTuyen], [DiemDi], [DiemDen], [KhoangCachKm]) VALUES (1, N'Hà Nội', N'Đà Nẵng', 800)
INSERT [dbo].[TuyenDuong] ([MaTuyen], [DiemDi], [DiemDen], [KhoangCachKm]) VALUES (2, N'Đà Nẵng', N'TP.HCM', 960)
SET IDENTITY_INSERT [dbo].[TuyenDuong] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([MaVe], [MaDatVe], [SoGhe], [GiaVe], [TrangThai]) VALUES (1, 1, N'A01', CAST(500000.00 AS Decimal(12, 2)), N'Đã đặt')
INSERT [dbo].[Ve] ([MaVe], [MaDatVe], [SoGhe], [GiaVe], [TrangThai]) VALUES (2, 1, N'A02', CAST(500000.00 AS Decimal(12, 2)), N'Đã đặt')
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D105343220018E]    Script Date: 11/18/2025 8:17:15 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__A9D105348F3B4858]    Script Date: 11/18/2025 8:17:15 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QuanTri__A9D1053432D42ED9]    Script Date: 11/18/2025 8:17:15 PM ******/
ALTER TABLE [dbo].[QuanTri] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT (N'Chờ thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichTrinh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhatKyHeThong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NhatKyNhanVien] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NhatKyQuanTri] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[QuanTri] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT (N'Đã đặt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_KhachHang]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_LichTrinh] FOREIGN KEY([MaLichTrinh])
REFERENCES [dbo].[LichTrinh] ([MaLichTrinh])
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_LichTrinh]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_Tau] FOREIGN KEY([MaTau])
REFERENCES [dbo].[Tau] ([MaTau])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_Tau]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_Tuyen] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[TuyenDuong] ([MaTuyen])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_Tuyen]
GO
ALTER TABLE [dbo].[NhatKyNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyNV_DatVe] FOREIGN KEY([MaDatVe])
REFERENCES [dbo].[DatVe] ([MaDatVe])
GO
ALTER TABLE [dbo].[NhatKyNhanVien] CHECK CONSTRAINT [FK_NhatKyNV_DatVe]
GO
ALTER TABLE [dbo].[NhatKyNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyNV_LichTrinh] FOREIGN KEY([MaLichTrinh])
REFERENCES [dbo].[LichTrinh] ([MaLichTrinh])
GO
ALTER TABLE [dbo].[NhatKyNhanVien] CHECK CONSTRAINT [FK_NhatKyNV_LichTrinh]
GO
ALTER TABLE [dbo].[NhatKyNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyNV_NV] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhatKyNhanVien] CHECK CONSTRAINT [FK_NhatKyNV_NV]
GO
ALTER TABLE [dbo].[NhatKyNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyNV_Ve] FOREIGN KEY([MaVe])
REFERENCES [dbo].[Ve] ([MaVe])
GO
ALTER TABLE [dbo].[NhatKyNhanVien] CHECK CONSTRAINT [FK_NhatKyNV_Ve]
GO
ALTER TABLE [dbo].[NhatKyQuanTri]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyQT_KH] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[NhatKyQuanTri] CHECK CONSTRAINT [FK_NhatKyQT_KH]
GO
ALTER TABLE [dbo].[NhatKyQuanTri]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyQT_LichTrinh] FOREIGN KEY([MaLichTrinh])
REFERENCES [dbo].[LichTrinh] ([MaLichTrinh])
GO
ALTER TABLE [dbo].[NhatKyQuanTri] CHECK CONSTRAINT [FK_NhatKyQT_LichTrinh]
GO
ALTER TABLE [dbo].[NhatKyQuanTri]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyQT_NV] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhatKyQuanTri] CHECK CONSTRAINT [FK_NhatKyQT_NV]
GO
ALTER TABLE [dbo].[NhatKyQuanTri]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyQT_QT] FOREIGN KEY([MaQuanTri])
REFERENCES [dbo].[QuanTri] ([MaQuanTri])
GO
ALTER TABLE [dbo].[NhatKyQuanTri] CHECK CONSTRAINT [FK_NhatKyQT_QT]
GO
ALTER TABLE [dbo].[NhatKyQuanTri]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyQT_Tau] FOREIGN KEY([MaTau])
REFERENCES [dbo].[Tau] ([MaTau])
GO
ALTER TABLE [dbo].[NhatKyQuanTri] CHECK CONSTRAINT [FK_NhatKyQT_Tau]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_DatVe] FOREIGN KEY([MaDatVe])
REFERENCES [dbo].[DatVe] ([MaDatVe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_DatVe]
GO
USE [master]
GO
